/* Boilerplate CSS */

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.flexbox-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header & Nav */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header .logo {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav .navlink {
  display: inline-block;
  padding: 20px 10px;
}

/* Body div - contains ourmission, shop, and locations */

.body-content {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/* Our Mission */

#ourmission {
  height: 700px;
  background-image: url("images/img-mission-background.jpg");
  padding-top: 70px;
}

#ourmission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Shop */

#shop {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.menuitem {
  padding: 5px;
}

.menuitem img {
  height: 200px;
  margin: 10px;
  display: block;
}

.menuitem .title {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Locations */

#locations {
  background-image: url("images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
  margin: 0 auto;
  width: 1100px;
}

.address {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Contact and Footer */

#contact {
  height: 200px;
  margin-top: auto;
}

footer {
  text-align: left;
  padding-left: 20px;
}